.invaders-box {
  min-height: 90%;
  display: block;
  /* position: relative; */
}

.invaders {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-row-gap: 5px;
  justify-content: space-around;
  position: relative;
  top: 10px;
  z-index: -1;
  position: relative;
}

.invader {
  width: 15px;
  height: 10px;
  background-color: #000;
}